html,
body {
  width: 100%;
  background: rgb(241, 227, 227);
}
.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  padding-top: 10px;
}
.fa-list-alt {
  color: rgb(168, 8, 8);
}
.checklistBox {
  width: 780px;
  margin-left: 400px;
  margin-top: 100px;
  background: white;
  padding: 15px;
  box-shadow: 1px 2px 1px 2px rgb(212, 211, 211);
}
.inputBox {
  box-shadow: 2px 2px rgb(212, 211, 211);
}
.idFormBox {
  background: rgb(237, 253, 253);
  width: 700px;
  padding: 10px;
  padding-top: 25px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 2px 2px rgb(170, 224, 224);
  border-radius: 0 10px 0 10px;
}
.headerLink {
  color: Black;
  text-decoration: none;
  padding: 10px;
}
.headerLink:hover {
  color: rgb(168, 8, 8);
  text-decoration: none;
}
.footerTag {
  font-size: 12px;
  color: grey;
}
