html,
body {
  background: white;
  width: 100%;
  color: rgb(7, 73, 214);
}
.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  padding-top: 10px;
}
.checklistBox {
  width: 780px;
  margin-left: 200px;
  margin-top: 100px;
  background: rgb(242, 245, 245);
  padding: 15px;
  box-shadow: 4px 4px rgb(140, 141, 141);
}
.idFormBox {
  background: rgb(7, 73, 214);
  width: 700px;
  padding: 10px;
  padding-top: 25px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 2px 2px rgb(15, 15, 139);
  border-radius: 0 10px 0 10px;
}
.headerLink {
  color: white;
  text-decoration: none;
  padding: 10px;
}
.headerLink:hover {
  color: lightblue;
  text-decoration: none;
}
.footerTag {
  font-size: 12px;
  color: grey;
}
